.elements-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

//color box item
.color-box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  column-gap: 1rem;
  //flex-basis: auto;

  &__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }
  &__description {
    font-size: 19px;
    line-height: 29px;
    color: $dark_shade;
  }
  &_box__100 {
    background: $dark_shade;
  }

  &_box__75 {
    background: $dark_shade_75;
  }

  &_box__50 {
    background: $dark_shade_50;
  }

  &_box__25 {
    background: $dark_shade_25;
  }
  &_box__5 {
    background: $dark_shade_5;
  }
  &_box__purple {
    background: $purple;
  }
  &_box__green {
    background: $green;
  }
}

figure {
  padding: 0;
  margin: 0;
}
.type-box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  //grid-template-columns: 15% 85%;
  column-gap: 1rem;
}
