mixin form-element(labelLeft, labelRight)
    div.element
        div.element__label
            label.h3 #{labelLeft}
            label.h3.element__label_mute #{labelRight}
            

section.elements-section
    article
        include input/input
        +form-element("text-field", "default") 
        +text-input("default-input","e-mail", "Email")
        +form-element("text-field", "hoover/focus")
        +text-input("focused-input", "text", "This is pretty awesome")
        +form-element("dropdown", "default")
        +dropdown(" ", "Сколько гостей")
        +form-element("masked text field", "default")
        +text-input( "" , "date", "")
        +form-element("date dropdown", "")
        +date-dropdown("id", "ДД.ММ.ГГГГ")
        +form-element("date dropdown", "")
        +date-dropdown
        +form-element("filter date dropdown", "")
        +date-dropdown
        +form-element("subscription text field", '')
        +text-input