doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Hotel Landing Page
  body
    main
      include assets/logo.svg
      include components/color-types/color-types
      include components/form-elements/form-elements
      button(onclick="clickFunc()") Try some js