//@use "grid";
//@use "typography";
//@use "./common.blocks/colors-types/colors-types.scss";
//@use "./common.blocks/form-elements/form-elements-section.scss";

@import "components/typography";
@import "components/colors";
@import "components/grid";
@import "components/color-types/color-types.scss";
// _normalize.scss
body,
html {
  background-color: $grey;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
content {
  display: block;
}
