doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Hotel Landing Page
  body
    main
      h3.h2 Compiled successfully
      button(onclick="clickFunc()") Try some js
      block color-types
      include components/color-types/color-types