mixin dropdown(dropdownId, inputText, dropdownMenuId, options)
    div.iqdropdown
        p.iqdropdown-selection(id=`${dropdownId}`) #{inputText}
        div.iqdropdown-menu(id=`${dropdownMenuId}`)
            each val in [options]
                div.iqdropdown-menu-option(data-id= option)
                    div 
                        p.iqdropdown-item= option
            
        